body {
  background-image: url('background/f45b5daa-ecf9-4965-bc592-103346039e07_512.png');
}

.discoverbackground{
  background-image: url('background/light-b6278e6e-de2a-42ae-9456-ab1122282a64_512.png');
}

.stuffsbackground{
  background-image: url('background/jfknasdlwsd.png');
  overflow: visible;
  z-index:-4
}

.biobackground{
  background-image: url('background/original_c97cfa9d3c26252f52b75f50f5782eaf.png');
  background-repeat: repeat;
  background-size: 50%;
}

h1 {
  color: white;
  
}

h2 {
  color: white;
  letter-spacing: 2px;
  line-height: 12px;

  
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 12px;
}

#blackcourier{
  font-family: 'Courier New', monospace;
  color:black;

}

@font-face {
  font-family: 'FaithCollapsing'; /*a name to be used later*/
  src: url('fonts/Faith Collapsing.ttf'); /*URL to font*/
}
@font-face {
  font-family: 'Cristone'; /*a name to be used later*/
  src: url('fonts/Cristone.ttf'); /*URL to font*/
}

.grid-container {
  display: grid;
  float: center;
  margin-left:50px;
  column-gap: 150px;
  grid-template-columns: 200px 450px
}

.header{
  text-align:center;
  font-family: 'FaithCollapsing';
  font-size:50px;
}

.child-main{
  text-align:center;

}

.dashedborder{
  border-top: 3px dashed #fff;
  border-bottom: 3px dashed #fff;;
    box-shadow: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #fff, 0 0.5px 0 0 #fff, 0 -0.5px 0 0 #fff;
	margin-bottom: 1px;
}

#border{
  border: 6px ridge #D4B947;
  margin-left:15px;
}

#cristone{
  font-family: 'Cristone';
}

#inline{
  display: inline;
}

.centerflex{
  display: flex;
  align-items: center; /*horizontal centering*/
  justify-content: center; /*vertical centering*/

}

.vertcenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#entrylist{
  width:800px;
  column-count: 2;
  padding-bottom:10px;
  margin-top:30px;
  margin-bottom:10px;
  padding-left:30px;


}

#imageplaceholder{
  width:200px;
  height:200px;
  background-color: black;
}


.entrybody{
  width: 315px;
  background: white;
  padding:10px;
}

.entry-item{

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-bottom: 10px;
  font-family: 'Courier New', monospace;
  
}
a.entry-item{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-bottom: 10px;
  font-family: 'Courier New', monospace;
}

a.entry-item:visited{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-bottom: 10px;
  font-family: 'Courier New', monospace;
}

.centerdiv{
  display: block;
  margin:0 auto;
}

.biobutton{
  width:125px;
  margin-top:20px;
  margin-left:10px;

  content: url('images/biobutton.png');
}
.biobutton:hover {
  content: url('images/biobuttonhover.png');
}

#inlineblock{
  display: inline-block;
  margin: 0 10px
}

.center{
  display: flex; 
  justify-content: center;
  align-items: center;
}


#rectanglebackground{
  position: relative;
  top: 0; left: 30%;
  width: 35%; 
  height: 100%;
  background-image: url('background/paperbackgroundtop.png');
  background-position: top, 0; 
  background-repeat: no-repeat;
  z-index: -1; 
  padding-top: 10px;
}

.repeating-background {
  position: relative;
  background: url('background/paperbackground3.png') repeat;
  top: 50px;
  margin-top:60px;
  z-index:-2;
}





#stack{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#backarrow{
  position: fixed;
  bottom:10px;
  left:10px;
  max-width: 90px;
}

#note{
  position: absolute;
  top:15%;
  left:4%;
  height:120px;
  width:160px;
  background-color: white;
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.5);
  
  padding:2px 10px 10px 10px;
  z-index:-3;
}

.bioimage{
  position: fixed;
  transform: scale(0.5);
   height: auto;
}

.backbutton{
  font-family: 'FaithCollapsing';
  text-align:center;
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  position:fixed;
  bottom:0;
  left:50%;
}

.twoxthreegrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.item1{
  grid-column: 1;
  grid-row: 1;
}
.item2{
  grid-column: 1;
  grid-row: 2;
}
.item3{
  grid-column: 1;
  grid-row: 3;
}
.item4{
  grid-column: 2;
  grid-row: 1 / span 3;
}
