body {
  background-image: url('background/f45b5daa-ecf9-4965-bc592-103346039e07_512.png');
}
h1 {
  color: white;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.container {
  padding:10%

}
.child{
  text-align:center;
  width: 70%;
  border: 3px solid #fff;


}
.childsidebar{
  width: 30%;
  float: left;
  border: 3px solid #fff;


}
